<!DOCTYPE html>
<html>
<head>
  <script src='js/socket.io.js'></script>
  <script src='js/scripts.js'></script>
  <% include ../partials/header.ejs %>
</head>

<body class="h-screen overflow-auto flex flex-col min-h-screen" style="background: #edf2f7;">
  <% include ../partials/nav.ejs %>

  <div class="flex flex-row flex-wrap items-center justify-center space-x-2">
    <% Object.keys(teams).forEach(function(teamname) { %>
      <!-- 1 card -->
      <div class="flex relative bg-white py-6 px-6 rounded-3xl my-4 shadow-xl">
          <% if (teams[teamname].robot) { 
              for (let r of robots) {
                if (r.id == teams[teamname].robot) { %>
                  <div class=" text-white flex items-center absolute rounded-full py-3 px-3 shadow-xl bg-<%= r.color %> left-4 -top-6">
                      <!-- svg  -->
                      <object data="\icons\<%= r.icon %>" class="w-10 h-10 rounded-full" ></object>
                  </div>
          <% 
                }
              }
            }
          %> 

          <form action="/robotaction" method="post" class="flex space-x-2 text-gray-400 text-sm my-3 absolute right-4 top-2">
            <input type="text" id="team" name="team" value="<%= teamname %>" class="hidden" />
            <% for (let robot of robots) { %>
            <button class="w-6 h-6 bg-<%= robot.color %> border-black border rounded-full" name="robotadd" value="<%= robot.name %>" type="submit"></button>            
            <% } %>
          </form>

          <div class="mt-8">
              <p class="text-xl font-semibold my-2"><%= teamname %> </p>
              
              <div class="flex space-x-2 text-gray-400 text-sm">
                  <!-- svg  -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>
                    <p><%= teamname %></p> 
              </div>

              <div class="flex space-x-2 text-gray-400 text-sm my-3">
                  <!-- svg  -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                  </svg>
                    <p>1 Weeks Left</p> 
              </div>
              <div class="border-t-2"></div>

              <div class="flex flex-col">
              <% team = teams[teamname]; team.members.forEach(function(member) { %>
                <form action="/teamaction" method="post" class="space-x-2 text-sm flex">
                  <button type="submit" name="delete" value="<%= teamname %>-<%= member.username %>">X</button>
                  <input type="hidden" name="team" value="<%= teamname %>" />
                  <% if (member.registered) { %>
                    <h3 id="<%= member.username %>" class="font-sans font-light text-center bg-green-300 px-2 pt-1 shadow-md rounded-lg"><%= member.firstname %> <%= member.lastname %></h3>
                  <% } else { %>
                    <h3 id="<%= member.username %>" class="font-sans font-light text-center bg-grey-lightest px-2 pt-1 shadow-md rounded-lg"><%= member.firstname %> <%= member.lastname %></h3>
                  <% } %>
                  <div id="<%= member.username + '-command'%>" class="bg-blue-200"></div>
                  <div id="<%= member.username + '-ncommands'%>" class="bg-purple-500 text-white text-xl px-2 rounded-full"><%= member.ncommands %></div>
                  <div id="<%= member.username + '-ninstructions'%>" class="bg-indigo-800 text-white text-xl px-2 rounded-full"><%= member.ninstructions %></div>
                  <div id="<%= member.username + '-nblocked'%>" class="bg-red-800 text-white text-xl px-2 rounded-full"><%= member.nblocked %></div>
                </form>
              <% }); %>
              </div>

              <form action="/teamaction" method="post" class="flex space-x-2 text-gray-400 text-sm my-3">
                <input type="hidden" name="team" value="<%= teamname %>" />
                <select name="newmember" id="new" class="w-5/6" onchange="this.form.submit()">
                  <option disabled selected value>-- choose --</option>
                  <% for (let pt in participants) { %>
                    <option value="<%= pt %>"><%= participants[pt].firstname %> <%= participants[pt].lastname %></option>
                  <% } %>
                </select>
                <button class="w-1/6" type="submit" name="add" value="<%= teamname %>">+</button>
              </form>

          </div>
      </div>
    <% }); %>
  </div>

    
  <div class="flex items-center justify-center mb-4 space-x-2">
     <span
    class="text-xs px-3 font-medium text-base bg-green-500 text-white rounded-full py-1.5"
  >
    <%= settings.group %>
  </span>

  <span
    class="text-xs px-3 font-medium text-base bg-blue-500 text-white rounded-full py-1.5"
  >
    <%= settings.challengeName %>
  </span>
  
  <span
    class="text-xs px-3 font-medium text-base bg-pink-600 text-white rounded-full py-1.5"
  >
    <%= settings.challengeMode %>
  </span>
  </div>

  <form action="/teamaction" method="post" class="flex items-center justify-center mb-4 mx-2 px-2">
    <% for (let phase of phases) { %>
      <% if (settings.phase == phase) { %>
      <button
        class="bg-purple-400 text-white text-purple-500 bg-transparent border-l border-t border-b border-purple-500 hover:bg-purple-200 hover:text-black active:bg-purple-600 font-bold uppercase text-xs px-4 py-2 rounded-l outline-none focus:outline-none mb-1 ease-linear transition-all duration-150"
        type="submit" name="phasex" value="<%= phase %>">
        <%= phase %>
      </button>
      <% } else { %>
      <button
        class=" text-purple-500 bg-transparent border-l border-t border-b border-purple-500 hover:bg-purple-200 hover:text-black active:bg-purple-600 font-bold uppercase text-xs px-4 py-2 rounded-l outline-none focus:outline-none mb-1 ease-linear transition-all duration-150"
        type="submit" name="phasex" value="<%= phase %>">
        <%= phase %>
      </button>
      <% } %>
    <% } %>
  </form>

  <div id="idmessage" class="font-bold text-lg text-white bg-red-800 px-4"></div>

  <% include ../partials/teams-footer.ejs %>
</body>
</html>
